@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter;
  }
}

@layer components {
  .btn {
    @apply h-14 rounded-md px-8 font-bold;
  }
  .angle {
    @apply absolute -z-10 hidden h-20 w-96 -skew-y-12 lg:block;
  }
  .center {
    @apply flex items-center justify-center;
  }
  .b-center {
    @apply flex items-center justify-between;
  }
  .layout {
    @apply container mx-auto px-4 md:px-6  lg:px-28;
  }
  .nav-link {
    @apply py-1;
  }
  .h1 {
    @apply mb-4 text-4xl font-bold;
  }
}
@layer utilities {
  .hero {
    min-height: calc(100vh - 80px);
  }
  .bg-blur {
    background: linear-gradient(
      90deg,
      rgba(246, 249, 255, 1) 0%,
      rgba(246, 249, 255, 0.2976540958180147) 69%,
      rgba(196, 181, 253, 0.7010154403558299) 100%
    );
    backdrop-filter: blur(100px);
  }
  .custom-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-auto-rows: auto;
  }
  .bar {
    height: calc(100vh - 20px);
  }
}
